/*------------------------------------*\
  Elements > img
\*------------------------------------*/

img {
  display: block;
  max-width: 100%;
  font-style: italic;
  border: 1px lightgrey solid;
  padding: 5px;
}
