---
layout: default
---

{% include base_path %}

{% if page.image %}
  <meta itemprop='og:image' content='{{ base_path }}{{ page.image }}'>
{% endif %}

<div class='o-wrapper'>

  <div class='o-grid'>
    <div class='o-grid__col'>
      <article class='c-post' itemscope itemtype='http://schema.org/BlogPosting'>

        <h1 class='c-post__title u-text-center'>{{ page.title }}</h1>

        <time class='c-post__date' datetime='{{ page.date | date_to_xmlschema }}' itemprop='datePublished'>{{ page.date | date: '%d %b %Y' }}</time>

        <div class='c-content' itemprop='articleBody'>
          {% include page-image.html %}

          {{ content }}
        </div>

        <div class='c-tags'>
          {% for tag in page.tags %}
            <a href='{{ site.baseurl }}/tag/{{ tag | strip | downcase | replace: " ", "-" }}'>{{ tag }}</a>

          {% endfor %}
        </div>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- Note.Richard End of Post -->
            <ins class="adsbygoogle"
            style="display:inline-block;width:728px;height:100px"
            data-ad-client="ca-pub-4628878565918385"
            data-ad-slot="3181390866"></ins>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

      </article>

    </div>
  </div>
</div>
